.patientdetail{
    margin: 8px auto;
    width:100%;
}

.patientdetail-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px
    width
}

.patientdetail-screen div{
    padding:8px;
    border-radius: 25px;
}

.patientdetail-screen .data{
    float:right;

}


.patientdetail-screen .key{
    font-weight: bold;
}

.patientdetail-screen div:nth-child(even){background-color: #f2f2f2;}
.patientdetail-screen div:hover {background-color: #ddd;}

textarea{
resize: none;
height:25%;
width:100%;
border-radius: 5px;    
border: none;
border-color: transparent;
font-style: italic;
}

a {
    border: 2px solid transparent;
    background: #3498DB;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 5px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: auto;
    margin: 0 auto;
    text-align: center;
}

a {
    background-color: #2980B9;
}
