
.star_rating {
    height: 50px;
    padding: 0 10px;
}

.star_rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
}

.star_rating:not(:checked) > label {
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:2em;
    color: grey;
}

.star_rating input:checked + label {
    color: black;    
}

.star_rating label:hover {
    color: #ccc;  
}
