{% extends 'base.html' %}

{% block page %}
<form action="/addnewpatient" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Patient Info</h1>
			</div>
			<div class="login-form">
				<div class="control-group">
					<input type="text" class="login-field" value="" placeholder="First Name" name="firstname">
					<label class="login-field-icon fui-user" ></label>
                </div>
                
				<div class="control-group">
					<input type="text" class="login-field" value="" placeholder="Last Name" name="lastname">
					<label class="login-field-icon fui-user" ></label>
                </div>

                <div class="control-group">
					<input type="text" class="login-field" value="" placeholder="Phone Number" name="phonenumber">
					<label class="login-field-icon fui-user" ></label>
                </div>

                <div class="control-group">
					<input type="email" class="login-field" value="" placeholder="Email" name="email">
					<label class="login-field-icon fui-user" ></label>
                </div>

                <div class="control-group">
					<input type="text" class="login-field" value="" placeholder="Operation" name="operation">
					<label class="login-field-icon fui-user" ></label>
                </div>

                <div class="control-group">
					<input type="date" class="login-field" value="" placeholder="Operation Date" name="operationdate">
					<label class="login-field-icon fui-user" ></label>
                </div>

                <div class="control-group">
					<input type="text" class="login-field" value="" placeholder="Prescription Medication" name="presciptionmedication">
					<label class="login-field-icon fui-user" ></label>
                </div>
                
                <div class="control-group">
					<input type="text" class="login-field" value="" placeholder="Prescription Dosage (ml)" name="prescriptiondosage">
					<label class="login-field-icon fui-user" ></label>
                </div>
                <div class="control-group">
					<input type="text" class="login-field" value="" placeholder="Additional Notes" name="notes">
					<label class="login-field-icon fui-user" ></label>
                </div>
                <div class="app-title">
                    <h1>Medical History</h1>
                </div>
                <div class="control-group">
                <p>Prior Opioid Use</p>
                    <label class="radio-button-container">Yes
                    <input type="radio" name="prioropioduse" value=1>
                    <span class="checkmark"></span>
                    </label>
                    <label class="radio-button-container">No
                    <input type="radio" checked="checked" name="prioropioduse" value=0>
                    <span class="checkmark"></span>
                    </label>
                </div>
                <div class="control-group">
                    <p>On Antidepressants</p>
                    <label class="radio-button-container">Yes
                        <input type="radio" name="onantidepressants" value=1>
                        <span class="checkmark"></span>
                        </label>
                        <label class="radio-button-container">No
                        <input type="radio" checked="checked" name="onantidepressants" value=0>
                        <span class="checkmark"></span>
                        </label>
                </div>
                
				<div class="control-group">
				    <input type="submit" value="Register Patient" class="btn btn-primary btn-large btn-block">
				</div> 
			</div>
		</div>
	</div>
</form>
{% endblock %}