<link type="text/css" rel="stylesheet" href="/static/css/detailedpatientinfo.css" >
<link type="text/css" rel="stylesheet" href="/static/css/doctordashboard.css" >

{% extends "base.html" %}


{% block page %}



<div class="patientdetail">

    <div class="patientdetail-screen">
            <div>
                    <a href="{{ url_for('doctorDashBoard') }}">Dashboard</a>
                </div>
            <div><span class="key">Last Name, First Name</span><span class="data">{{patient.lastName}}, {{patient.firstName}}</span></div>
            <div><span class="key">Phone Number</span><span class="data">{{patient.phoneNumber}}</span></div>
            <div><span class="key">Email Address</span><span class="data">{{patient.email}}</span></div>
            <div><span class="key">Operation Conducted</span><span class="data">{{patient.operation}}</span></div>
            <div><span class="key">Prescribed Medication</span><span class="data">{{patient.prescriptionMed}}</span></div>
            <div><span class="key">Presciprtion Dosage</span><span class="data">{{patient.prescriptionDosage}} ml</span></div>
            <div><span class="key">Prio Opiod Usage</span><span class="data">{{patient.priorOpioid}}</span></div>
            <div><span class="key">Antidepressants</span><span class="data">{{patient.onAntidepressants}}</span></div>
            <div><span class="key">Notes</span><span class="data"></span></div>
            <div>
                    <span class="key">
                        <textarea readonly>
                            {{patient.notes}}
                        </textarea>
                    </span>

                    
            </div>

            <div>
                {% if patient.checkins.count() > 0 %}
                <table id="customers">
                <tr>
                    <th>Check In Date</th>
                    <th>Pain Level</th>
                    <th>Took Medicine</th>
                </tr>
                {% for item in patient.checkins %}
                <tr>
                    <td>{{item.checkInDate}}</td>
                    <td>{{item.painLevel}}</td>
                    <td>{{item.tookMed}}</td>
                </tr>
                <!-- <div><span class="key">Pain Level</span><span class="data">{{item.painLevel}}</span></div>
                <div><span class="key">Pain Level</span><span class="data">{{item.checkInDate}}</span></div>
                <div><span class="key">Pain Level</span><span class="data">{{item.tookMed}}</span></div>             -->
                {% endfor %}
                </table>
                {% else %}
                <p>No checkins available for this patient</p>
                {% endif %}
            </div>
            

    </div>

            
    </div>
</div>

<div>


{% endblock %}
