<link type="text/css" rel="stylesheet" href="static/css/doctordashboard.css" >

{% extends 'base.html' %}

{% block page %}




<table id="customers">
    <tr>
        <th>Last Name, First Name</th>
        <th>Surgery Type</th>
        <th>Time of Surgery</th>
    </tr>
    
        <tr>
            <td><a href="{{ url_for('detailedPatientInfo', patientid=patient.id) }}">{{patient.id}}</a></td>
            <td>{{patient.operation}}</td>
            <td>{{patient.operationDate}}</td>
        </tr>
    


    </table>

<!-- <div>
    <a href="#">Add New Patient</a>
</div> -->


<!-- 
{% for patient in patients%} -->
    <!-- <div><a href="{{ url_for('detailedPatientInfo', patientid=patient.id) }}">{{patient.id}}</a></div> -->


    <!-- <div>{{patient.phoneNumber}}</div>
    <div>{{patient.email}}</div>
    <div></div>
    <div>{{patient.prescriptionMed}}</div>
    <div>{{patient.prescriptionDosage}}</div>
    <div>{{patient.priorOpioid}}</div>
    <div>{{patient.onAntidepressants}}</div>

{% endfor %} -->

{%endblock%}