{% extends 'base.html' %}

{% block page %}

<div>
    <a href="#">Add New Patient</a>
</div>

{% for patient in patients%}
    <div><a href="{{ url_for('detailedPatientInfo', patientid=patient.id) }}">{{patient.id}}</a></div>
    <div>{{patient.firstName}}</div>
    <div>{{patient.lastName}}</div>
    <div>{{patient.phoneNumber}}</div>
    <div>{{patient.email}}</div>
    <div>{{patient.operation}}</div>
    <div>{{patient.prescriptionMed}}</div>
    <div>{{patient.prescriptionDosage}}</div>
    <div>{{patient.priorOpioid}}</div>
    <div>{{patient.onAntidepressants}}</div>

{% endfor %}

{%endblock%}