<link type="text/css" rel="stylesheet" href="static/css/doctordashboard.css" >

{% extends 'base.html' %}

{% block page %}


<div class="doctordashboard">
    <div class="doctordashboard-screen">

            <div class="addnewpatient">
                    <a  href="{{ url_for('addNewPatient') }}">Add New Patient</a>
            </div>
            
            <table id="customers">
                <tr>
                    <th>Last Name, First Name</th>
                    <th>Surgery Type</th>
                    <th>Time of Surgery</th>
                </tr>
                {%for patient in patients%}
                    <tr>
                        <td><a href="{{ url_for('detailedPatientInfo', patientid=patient.id) }}">{{patient.firstName}}, {{patient.lastName}}</a></td>
                        <td>{{patient.operation}}</td>
                        <td>{{patient.operationDate}}</td>
                    </tr>
                {%endfor%}
            
            
                </table>
            
    </div>
</div>



{%endblock%}